/**
 * General variables
 */

/**
 * General configs
 */
* {
	box-sizing: border-box;
}

/**
**/
.body {
	font-size: 12px;
	line-height: 1em;
	margin: 0px;
	padding: 0px;
	height: 100%;
	margin: 0;
}

.bgimg {
	position: relative;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("bg.jpg"), linear-gradient(#09375E, #003366);
	background-blend-mode: overlay;
}

.bgimg {
	min-height: 100%;
}

button {
	background-color: transparent;
	padding: 0;
	border: 0;
	outline: 0;
	cursor: pointer;
}

input {
	background-color: transparent;
	padding: 0;
	border: 0;
	outline: 0;
}

input[type="submit"] {
	cursor: pointer;
}

input::-webkit-input-placeholder {
	font-size: 0.85rem;
	font-family: "Arial", sans-serif;
	font-weight: 300;
	letter-spacing: 0.1rem;
	color: #ccc;
}

input:-ms-input-placeholder {
	font-size: 0.85rem;
	font-family: "Arial", sans-serif;
	font-weight: 300;
	letter-spacing: 0.1rem;
	color: #ccc;
}

input::-ms-input-placeholder {
	font-size: 0.85rem;
	font-family: "Arial", sans-serif;
	font-weight: 300;
	letter-spacing: 0.1rem;
	color: #ccc;
}

input::placeholder {
	font-size: 0.85rem;
	font-family: "Arial", sans-serif;
	font-weight: 300;
	letter-spacing: 0.1rem;
	color: #ccc;
}

.header {
	height: 100px;
	background-color: #FBFBFB;
}

.header .img {
	width: 100px;
	background: #FBFBFB;
}

.header .title {
	position: absolute;
	top: 80px;
	right: 45px;
	color: #004455;
	font-size: 24px;
	font-family: "Ubuntu";
	font-weight: 50;
	text-align: right;
	margin-bottom: 5px;
	margin-top: -20px;
	line-height: 29px;
	padding-right: 57px;
}

/**
 * Page background
 */
.user {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 110vh;
}

.user_options-container {
	position: relative;
	width: 80%;
}

.user_options-text {
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-radius: 3px;
}

/**
 * Registered and Unregistered user box and text
 */
.user_options-unregistered {
	color: #FAF9F8;
	font-weight: 300;
}

.user_unregistered-title {
	margin-top: 50px;
	font-size: 48px;
	line-height: 58px;
	font-weight: 300;
	font-family: "Ubuntu";
}

.user_unregistered-text, .user_unregistered-text1 {
	font-size: 18px;
	line-height: 22px;
	word-spacing: 0.1rem;
	max-width: 450px;
	text-align: justify;
	font-family: "Ubuntu";
}

.user_unregistered-text1 {
	display: inline-block;
}

.user_unregistered-text1 .italics {
	font-style: oblique;
}

.user_unregistered-signup {
	margin-top: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px 40px;
	color: #fff;
	text-transform: uppercase;
	line-height: 1em;
	letter-spacing: 0.2rem;
	font-family: "Ubuntu";
}

.user_unregistered-signup {
	margin-top: 5px;
	position: relative;
	padding: 10px 30px;
	width: 100%;
	text-transform: uppercase;
	line-height: 0.02em;
	letter-spacing: .2rem;
	background: #1A293E;
	font-size: 1.5rem;
	border-radius: 3px;
	cursor: pointer;
	font-family: "Ubuntu";
}

.ul {
	list-style-type: none;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	width: 30em;
	padding-left: 20px;
}

.li_class {
	position: relative;
	display: block;
	width: 7em;
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 15px;
	left: 20px;
	line-height: 22px;
	width: 450px;
}

.li-class_br {
	clear: left;
}

.block_tick {
	float: left;
	width: 14em;
	padding-left: 20px;
	padding-top: 90px;
}

.block_tick .resize-tick {
	width: 31px;
	height: 31px;
}

.block-br {
	clear: left;
}

/**
 * signup form
 */
.user_options-forms {
	float: right;
	width: 380px;
	height: 570px;
	margin-top: 53px;
	background-color: #1A293E;
}

.user_options-forms .forms_title1 {
	margin-bottom: 35px;
	font-size: 18px;
	font-weight: 300;
	line-height: 29px;
	text-transform: uppercase;
	color: #FF6600;
	letter-spacing: 0rem;
	display: inline-block;
	font-family: "Ubuntu";
}

.user_options-forms .forms_title2 {
	margin-left: 4px;
	margin-bottom: 35px;
	font-size: 18px;
	font-weight: 300;
	line-height: 29px;
	color: #fff;
	letter-spacing: 0rem;
	display: inline-block;
	font-family: "Ubuntu";
}

.user_options-forms .forms_title3 {
	margin-bottom: 35px;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	letter-spacing: 0rem;
	font-family: "Ubuntu";
}

.user_options-forms .forms_field {
	color: #ABABAB;
	margin-bottom: 30px;
}

.user_options-forms
 
.forms_field
:not
 
(
:last-of-type
 
)
{
margin-bottom
:
 
20
px
;


}
.user_options-forms .forms_field-input {
	width: 90%;
	background-color: #fff;
	border-radius: 3px;
	font-family: "Arial";
	font-size: 14px;
	font-weight: 300;
	line-height: 32px;
	color: #000;
	letter-spacing: 0.1rem;
	margin-top: 5px;
}

.user_options-forms .forms_field-input:focus {
	border-color: gray;
}

.user_options-forms .forms_buttons {
	justify-content: space-between;
	margin-top: 5px;
}

.user_options-forms .forms_buttons-action {
	background-color: #FF6600;
	padding: 10px 10px;
	font-size: 16px;
	font-family: "Ubuntu";
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	transition: background-color 0.2s ease-in-out;
	border-radius: 0.3rem;
	cursor: pointer;
	width: 90%;
	border: 1px #333333 solid;
}

.user_options-forms .form_note {
	color: #fff;
	font-size: 10px;
	line-height: 16px;
	word-spacing: 0.02rem;
	margin-top: 5px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: calc(30%);
	transform: translateX(-30%);
	margin-bottom: 5px;
	font-family: "Arial";
}

.user_options-forms .forms_buttons-action:hover {
	background-color: #e14641;
}

.user_options-forms .user_forms-signup {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
	opacity: 0;
	visibility: hidden;
}

.user_options-forms .user_forms-signup {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
	visibility: visible;
}

.user_options-forms .user_forms-signup .forms_buttons {
	justify-content: flex-end;
}

/**
 * Responsive 990px
 */
@media screen and (max-width: 990px) {
	.user_options-forms {
		min-height: 350px;
	}
	.user_options-forms .forms_buttons {
		flex-direction: column;
	}
	.user_options-forms .user_forms-login .forms_buttons-action {
		margin-top: 30px;
	}
	.user_options-forms .user_forms-signup, .user_options-forms .user_forms-login
		{
		top: 40px;
	}
	.user_options-registered, .user_options-unregistered {
		padding: 50px 45px;
	}
}

.wrapper-box-excel {
	display: grid;
	grid-template-columns: 255px 255px 255px 255px;
	grid-gap: 30px;
	color: #3C9ACB;
	width: 90%;
	max-width: 100%;
	padding-left: 10px;
	padding-left: 10px;
	align-items: center;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
}

.box {
	background-color: #47A8E5;
	color: #fff;
	border-radius: 10px;
	opacity: 0.8;
	filter: alpha(opacity = 80); /* For IE8 and earlier */
	width: 255px;
	height: 230px;
	align-items: center;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
}

.box: hover, .box: focus {
	color: #c29f79;
}

blockquote {
	border: none;
	font-family: Georgia, "Arial", Times, serif;
	margin-bottom: -0px;
	text-align: left
}

.text_inside {
	font-size: 18px;
	font-weight: lighter;
	margin-top: 20px;
	line-height: 1.7em;
}

.text_inside1 {
	font-size: 25px;
	font-weight: bold;
	text-align: center
}

blockquote {
	font-size: 13px;
	border: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-bottom: -20px;
	position: relative;
	max-width: 400px;
	margin: 0 auto;
	padding-left: 0.4em;
}

blockquote h3 {
	font-size: 13px;
}

blockquote h3:before {
	content: "\201C";
	font-weight: bold;
	font-size: 80px;
	color: #fff;
	position: absolute;
	position: absolute;
	top: 0.4em;
	left: -0em;
	font-family: 'Georgia';
	opacity: 0.8;
	filter: alpha(opacity = 80); /* For IE8 and earlier */
}

blockquote h3:after {
	content: "\201D";
	font-weight: bold;
	font-size: 80px;
	color: #fff;
	position: absolute;
	bottom: -0.8em;
	right: 0;
	font-family: 'Georgia';
	opacity: 0.8;
	filter: alpha(opacity = 80); /* For IE8 and earlier */
}

table#table1 {
	margin-left: auto;
	margin-right: auto;
}

td#td_triangle {
	background-image: url("../img/triangle.jpg");
}

th {
	border-left: 10px #fff solid;
	border-right: 10px #fff solid;
	border-bottom: 0px #fff solid;
	color: #fff;
	background-color: #164376;
	line-height: 20px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

td {
	border-top: 4px #fff solid;
	border-bottom: 4px #fff solid;
	border-right: 10px #fff solid;
	border-left: 10px #fff solid;
	text-align: center;
	color: #000;
	font-size: 14px;
	line-height: 1;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

td#td_empty {
	border-top: 0px #fff solid;
	border-bottom: 0px #fff solid;
	border-right: 10px #fff solid;
	border-left: 10px #fff solid;
}

table {
	border: 10px #fff solid;
	color: #000;
	font-size: 15px;
	line-height: 1;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
	border-collapse: collapse;
}

table {
	background-color: #EEEEEE;
}

.arrows {
	height: 471px;
	background-color: #fff;
}

.arrow_center1, .arrow_center2, .arrow_center3 {
	text-align: center;
	justify-content: center;
	line-height: 29px;
	color: #73717A;
	justify-content: center;
	font-weight: 300;
	font-size: 18px;
	font-family: "Ubuntu";
	margin-left: auto;
	margin-right: auto;
}

.arrow_center1 {
	width: 750px;
}

.arrow_center2 {
	width: 780px;
}

.arrow_center3 {
	width: 800px;
}

.arrow_top_left {
	padding-left: 100px;
}

.arrow_top_right {
	position: absolute;
	right: 0px;
	padding-right: 160px;
	padding-top: 20px;
}

.arrow_bottom_left {
	padding-left: 100px;
}

.arrow_bottom_right {
	position: absolute;
	right: 0px;
	padding-right: 160px;
	padding-bottom: -20px;
}

.content .design_title {
	color: #004455;
	font-weight: 100;
	font-size: 24px;
	line-height: 22px;
	font-family: "Ubuntu";
	font-weight: 100;
	text-align: center;
	justify-content: center;
}

.services {
	background-color: #fff;
}

.services .services_table1 {
	height: 908px;
}

.services .services_table2 {
	height: 700px;
}

.services .title {
	color: #164376;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 300;
	font-size: 25px;
}

.descr_services {
	text-align: center;
	justify-content: center;
	line-height: 15px;
	color: #000;
	background-color: #fff;
	justify-content: center;
	font-weight: 300;
	font-size: 14px;
	width: 715.25px;
	margin-left: auto;
	margin-right: auto;
}

.digital_experience1 {
	height: 277px;
	color: #F8FFFC;
}

.digital_experience2 {
	height: 236px;
	color: #F8FFFC;
}

.digital_experience1 .title, .digital_experience2 .title {
	color: #F8FFFC;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 20px;
	padding-top: 50px;
}

.digital_experience1 .content, .digital_experience2 .content {
	color: #F8FFFC;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 150;
	font-size: 20px;
	padding-top: 30px;
	line-height: 22px;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: 120px;
	padding-right: 120px;
	padding-bottom: 20px;
	text-align: center;
	font-family: "Ubuntu";
}

.digital_experience2 {
	font-size: 28px;
}

.digital_experience1 .forms_buttons, .digital_experience2 .forms_buttons
	{
	justify-content: space-between;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	align-items: center;
	padding-left: 120px;
	padding-right: 120px;
	text-align: center;
	top: 50%;
	padding-bottom: 50px;
	height: 53px;
}

.digital_experience1 .forms_buttons-action, .digital_experience2 .forms_buttons-action
	{
	background-color: #FF6600;
	padding: 10px 10px;
	font-size: 16px;
	font-family: "Ubuntu";
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0rem;
	transition: background-color 0.2s ease-in-out;
	border-radius: 0.3rem;
	cursor: pointer;
	width: 30%;
}

.digital_experience1 .forms_buttons-action:hover, .digital_experience2 .forms_buttons-action:hover
	{
	background-color: #e14641;
}

.text_shadow {
	max-width: 100%;
	max-height: 100%;
}

.services_last {
	background-color: #fff;
	height: 641px;
}

.services_last .title1 {
	color: #003768;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 300;
	font-size: 25px;
	text-transform: uppercase
}

.services_last .title2 {
	color: #004455;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 300;
	font-size: 25px;
}

.services_last .title3 {
	text-align: center;
	line-height: 22px;
	color: #888888;
	justify-content: center;
	font-weight: 300;
	font-size: 17px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.services_last .wrapper-boxes-end {
	max-width: 80%;
	padding-left: 10px;
	padding-left: 10px;
	align-items: center;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
}

.wrapper-box-end {
	display: grid;
	grid-template-columns: 220px 220px 220px 220px;
	grid-gap: 30px;
	background-color: #fff;
	color: #000;
	align-items: center;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
}

.box-end {
	background-color: #fff;
	color: #003768;
	border-radius: 10px;
	border: 1px solid #003768;
	width: 220px;
	height: 200px;
	text-align: center;
}

.box-end: hover, .box-end: focus {
	color: #c29f79;
}

.footer {
	height: 42px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #1A212B;
	color: #829099;
	text-align: center;
}

.box-end  .text_inside {
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
	line-height: 1.7em;
}

.box-end  .text_inside1 {
	font-size: 13px;
	margin-top: 20px;
	line-height: 1.7em;
	color: #888888;
}