/**
 * General variables
 */
$bdrds: 3px
$white: #fff
$dark-blue: #002040
$blue: #324C66
$black: #000
$orange: #ff4000
$gray: #ccc
$salmon: #e8716d
$smoky-black: rgba(#222222, .85)

$ff: 'Arial', sans-serif
$ff-body: 12px
$ff-light: 300
$ff-regular: 500
$ff-medium: 300

.ul
  list-style-type: none
  columns: 2
  -webkit-columns: 2
  -moz-columns: 2
  width: 30em
  
/**
 * General configs
 */
*
  box-sizing: border-box

body
  font-family: $ff
  font-size: $ff-body
  line-height: 1em
  
button
  background-color: transparent
  padding: 0
  border: 0
  outline: 0
  cursor: pointer
  
input
  background-color: transparent
  padding: 0
  border: 0
  outline: 0
  
  &[type="submit"]
    cursor: pointer
    
  &::placeholder
    font-size: .85rem
    font-family: $ff
    font-weight: $ff-light
    letter-spacing: .1rem
    color: $gray

.header 
  height: 90px

  .img
    width: 100px
    height: 100px
    background: #555

  .title
    position: absolute
    top: 40px
    right: 400px
    font-size: $ff-medium
    color: $dark-blue
    font-size: 1rem
    font-family: $ff
    font-weight: $ff-regular
/**
 * Page background
 */
.user
  display: flex
  justify-content: center
  align-items: center

  width: 100%
  height: 100vh
  background: $blue
  background-size: cover

  &_options-container
    position: relative
    width: 80%

  &_options-text
    display: flex
    justify-content: space-between
    width: 100%
    border-radius: $bdrds


/**
 * Registered and Unregistered user box and text
 */
.user_options-registered,
.user_options-unregistered
  padding: 120px 0px
  color: $white
  font-weight: $ff-light
.user_registered-title,
.user_unregistered-title
  position: absolute
  top: 5%
  left: 0px
  margin-bottom: 30px
  font-size: 1.5rem
  line-height: 1em
  font-weight: $ff-medium
  font-size: 2.5rem
  
.user_unregistered-text,
.user_registered-text
  font-size: 0.85rem
  line-height: 1.4em
  word-spacing: 0.35rem
  width: 100%
  width: 450px

.user_unregistered-text1
  font-size: 0.85rem
  line-height: 1.2em
  word-spacing: 0.35rem
  width: 600px
  display: inline-block

.user_unregistered-text2
  font-size: 0.85rem
  line-height: 1.4em
  word-spacing: 0.35rem
  font-style: oblique

.user_unregistered-signup
  margin-top: 30px
  border: 1px solid $gray
  border-radius: $bdrds
  padding: 10px 40px

  color: $white
  text-transform: uppercase
  line-height: 1em
  letter-spacing: .2rem

.ul-class
    width: 210px
    padding: 150px 0px
    column-count: 3
    column-gap: 10px
    list-style-type: none
    columns: 2
    -webkit-columns: 2
    -moz-columns: 2
.li-class
    position: relative
    padding: 120px 0px
    display: block
    width: 7em
    margin-bottom: 30px
    left: 400px
    font-size: 1rem
    line-height: normal
    word-spacing: 0.35rem
    width: 100%
    width: 450px
    &_br
      clear: left
.block1
    float: left
    width: 20em

.block-br
    clear: left
  
/**
 * signup form
 */
.user_options-forms
  position: absolute
  top: 45%
  left: 30px

  width: calc(50% - 40px)
  min-height: 420px
  background-color: $dark-blue
  border-radius: $bdrds
  box-shadow: 2px 0 15px rgba($black, .25)
  overflow: hidden

  transform: translate3d(100%, -50%, 0)

  .forms
    &_title1
      margin-bottom: 45px
      font-size: 1rem
      font-weight: $ff-medium
      line-height: 0.0em
      text-transform: uppercase
      color: $orange
      letter-spacing: 0.0rem
      display: inline-block

    &_title2
      margin-left: 4px
      margin-bottom: 45px
      font-size: 1rem
      font-weight: $ff-medium
      line-height: 0.0em
      color: $white
      letter-spacing: 0.0rem
      display: inline-block
    &_title3
      margin-bottom: 45px
      font-size: 1.4rem
      font-weight: $ff-medium
      line-height: 0.0em
      color: $white
      letter-spacing: 0.0rem
    &_field
      &:not(:last-of-type)
        margin-bottom: 20px
      color: $white
      margin-bottom: 30px
    &_field-input
      width: 90%
      padding: 6px 20px 6px 0
      background-color: $white
      border-radius: $bdrds
      font-family: $ff
      font-size: 1rem
      font-weight: $ff-light
      color: $black
      letter-spacing: .1rem
      margin-top: 5px
      &:focus
        border-color: darken($gray, 30%)

    &_buttons
      display: flex
      justify-content: space-between
      align-items: center
      margin-top: 35px

      &-action
        background-color: $salmon
        border-radius: $bdrds
        padding: 10px 35px

        font-size: 1rem
        font-family: $ff
        font-weight: $ff-light
        color: $black
        text-transform: uppercase
        letter-spacing: .1rem

        &:hover
          background-color: darken($salmon, 10%)

  .user_forms-signup
    position: absolute
    top: 70px
    left: 40px
    right: 100px
    width: calc(100% - 80px)

    opacity: 0
    visibility: hidden

  .user_forms-signup
    transform: translate3d(0, 0, 0)
    opacity: 1
    visibility: visible
    .forms_buttons
      justify-content: flex-end

/**
 * Responsive 990px
 */
@media screen and (max-width: 990px)
  .user_options-forms
    min-height: 350px
    
    .forms_buttons
      flex-direction: column
        
    .user_forms-signup
      top: 40px
      
  .user_options-registered,
  .user_options-unregistered
    padding: 20px 45px
